.container { 
text-align: center;
  margin: 80px 349px;

  max-width: 841px;  
  width: 100%;   
  height: auto;  
  display: block;  
}  
  
body {  
  color: #fff;  
  font-size: 22px;  
  font-family: inline-block, monospace;  
 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../policy/imgg.jpg);
 height:100vh;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
}  
ul li{
  display: inline-block;

}
ul li a{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: #fff;
  color: #000;
}
  
h2 {  
  text-align: center;  
}  

.form_group {  
  padding: 15px;     
display: block;  
}  
  
label {  
  float: left;  
  padding-right: 50px;  
  line-height: 10%;  
  display: block;  
  width: 208px;  
}   
#button{
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  outline: 0px;
}
.form{
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 35px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.form:hover{
  background-color: #fff;
  color: #000;
}
.butt{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}